@media (max-width: 1030px){
    .container{
        width: 95%;
    }
    .tabs,
    .community-container{
        width: 95%;
    }
}

@media (max-width: 960px){
    .header__menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab-item__title{
        padding-left: 0;
        padding-top: 50px;
        height: auto;
        text-align: center;
    }

    .tab-item__title::before{
        top: 0;
        left: 20%;
    }

    .links{
        height: auto;
        padding-bottom: 25px;
    }

    .feature-intro{
        width: 70%;
    }

    .comm-block__item{
        width: 45%;
    }
    .comm-block__area{
        height: auto;
    }

    .footer__partners{
        flex-wrap: wrap;
    }
    .project__item{
        height: auto;
    }
}

@media (max-width: 768px){
    .links__item{
        height: 100%;
        padding-left: 0;
        padding-top: 90px;
        text-align: center;
        background-position: 50% 10px;
    }

    .links__button{
        margin: 0 auto;
    }

    .feature__project{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project__item{
        margin-bottom: 15px;
    }

    .tab-item__title{
        font-size: 1.5rem;        
    }

    .banner__title{
        font-size: 2rem;
    }
    .banner{
        height: 500px;
    }

    .banner__container{
        padding-top: 150px;
    }

    .tab-item__content{
        padding-left: 150px;
    }
    .tab-item__content::before{
        left: 0;
    }
    .header__logo{
        width: 20%;
    }
}

@media (max-width: 576px){
    .project{
        display: none;
    }
    .feature-intro {
        width: 60%;
    }
    .comm-block__item{
        height: auto;
    }
    .comm-block__man{
        margin-left: 0px;
    }
    .header__menu{
        display: none;
    }
    .header__logo{
        width: auto;
    }
    .header__container {
        justify-content: space-around;
    }
}